@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>

    body, html {
        overflow: hidden;
        background-image: url('/resources/testgymhomeimage.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .test {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        width: 400px;
        height: 300px;
        border-radius: 15px;
    }
</style>

<ul class="navbar-nav">
    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="test">
            <div class="card mb-4 rounded-3 shadow-lg" style="background-color: darkviolet; color: white; text-align: center">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal" style="font-size: xx-large">Welcome</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="nav-item">
                            <div class="wrapper">
                                <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="wrapper">
                                <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </div>

                        </li>
                </div>
            </div>
        </div>
    }
</ul>
